{% extends "base.html" %}

{% block content %}

<h1>{{ calendar.name }}</h1>

<table width="30%">
    {% for event in events %}
    <tr>
        <td><a href="{% url 'view_event' event.id %}">{{ event.name }}</a></td>
        <td>{{ event.datetime }}</td>
    </tr>
    {% endfor %}
</table>

<form action="{% url 'create_event' calendar.id %}"  method="GET">
    <input type="submit" value="Add event"/>
</form>

<h3>Search by tag</h3>

<form action="{% url 'tag_search' calendar.id %}" method="POST">{% csrf_token %}
    {{ tag_search_form.as_p }}
    <input type="submit" value="Search"/>
</form>

{% endblock %}